@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background: #131313;
    height: 150vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

.genders a, button {
    font-weight: 500;
    font-size: 16px;
    color: #1883A5;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.genders :hover {
   color:white
}

a, li {
    color: #131313;
    list-style: none;
    text-decoration: none;
}

hr{
        height: 1px;
        background-color: #1883A5;
        border: none;
        width: 100% 
}

p, h1{
    color: white
}

.button {
    padding: 9px 25px;
    background-color: #1883A5;
    border: none;
    border-radius: 50px;
    color: #131313;
    margin-top: 5%;
    cursor: pointer;
}

.button2 {
    padding: 9px 25px;
    background-color: #1883A5;
    border: none;
    border-radius: 50px;
    color: #131313;
    cursor: pointer;
    float: right;
    margin-right: 33.5%;
    margin-top: 2%;
}

.logo {
    width: 20%;
    cursor: pointer;
    margin-left: 30%;
}

.hidden {
    display: none;
}

#loading-indicator {
    position: fixed; /* or absolute based on your design */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .logo {
        width: 30%;
    }
}

@media (max-width: 480px) {
    .logo {
        width: 50%;
    }
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    position: relative;
    background: #131313;
    color: #fff;
    padding: 10px;
}

nav {
    position: absolute;
    background: #131313;
    margin-top: 1%;
}

nav a {
    display: block;
    padding: 10px 20px;
}

.rain-jacket {
    width: 25%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 54%;
    margin-top: 8%;
}

.description {
    color: white;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;   
    margin-left: 28%;
    margin-top: -30%;
}

.size {
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 56%;
}

.cart {
    color: white;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    margin-left: 56%;
    margin-top: -3%;
}

.size p {
    border: 1px solid white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 30%;   
}

.cart p {
    border: 1px solid white;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 30%;
}

 @media (max-width: 600px) {
    .rain-jacket {
        margin-left: auto;
        margin-right: auto;
        margin-top: 8%;
        width: 70%;
    }
    .description,
    .size,
    .cart {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
 }

@media (min-width: 600px){
    nav {
        display: block;
        position: static;
    }
    .hamburger-icon {
        display: none;
    }

    nav a {
        display: inline-block;
        margin-top: 5%;
    }
}

footer {
    background-color: #1883A5;
    margin-top: auto;     
}

.footerNav {
    list-style: none;   
}

.footerNav h1{
    color: #131313;
}

.footerContainer {
    width: 100%;
    flex-wrap: wrap;
}

.socialIcons {
    display: flex;
    justify-content: center;   
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #131313;
    margin: 1%;
    border-radius: 50%;
}

.socialIcons i{
    font-size: 2em;
    color: #1883A5;
    opacity: 0.9; 
}

.questions {
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #131313;
    margin-top: -10%;
    padding: 10px;  
}

li {
    font-size: 20px;
    padding: 5px;   
}

h2 {
    float: right;
    margin-right: 15%;
    margin-top: -13%;
    font-size: 40px;
}

.logo2 {
    width: 15%;
    float: right;
    margin-top: -7%;
    margin-right: 10%;
}

.about {
    cursor: pointer;
}

.about a{
    color: #131313;
}

@media (max-width: 480px) {
    .logo2 {
        width: 35%;
        margin-top: 5%;
        margin-right: 20%;
    }
    .socialIcons {
        margin-top: 5%;
    }
    .questions {
        margin-top: 5%;
    }
    h2 {
        margin-top: 5%;
        margin-right: 0;
    }
    .footerNav {
        margin-left: 30%;
    }
    .about {
        margin-right: 5%;
    }
}

@media (min-width:600px){
    .footerNav{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
    }
}